/* normalizado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Verdana;
}

header {
  width: 85vw;
  height: 30vh;
  margin: 50px 5% 0px;
  background-image: url(/assets/img/design1_image1.jpg);
  background-size: cover;
  background-position: 0 30%;
  background-repeat: no-repeat;
  padding: 0.5rem;
}
nav {
  display: inline;
  position: absolute;
  top: 6%;
  left: 60%;
}

/* titulo */
.titulo {
  font-style: oblique;
  position: absolute;
  top: 1vh;
  left: 8vh;
}

/* subtitulo */
section h3 {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 85vw;
  margin: 0px 5% 50px;
}

/* logo */
.logo {
  height: 25vh;
  width: 25vh;
}

/* botones */
button {
  width: 90px;
  height: 30px;
  border-radius: 10%;
  background-color: rgb(0, 163, 218);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
nav > button > a {
  color: white;
}
a[href="#"] {
  background-color: green;
  color: white;
}
button:hover {
  background-color: green;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* cuerpo */
.cuerpo {
  position: relative;
  left: 200px;
  top: -130px;
}
article {
  padding-top: 5%;
}
section > p {
  padding-top: 2%;
}
article > p {
  text-indent: 3%;
}
