/* normalizado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "comic sans MS";
}

header {
  width: 85vw;
  height: 30vh;
  margin: 50px 5% 0px;
  background-image: url(/assets/img/design1_image1.jpg);
  background-size: cover;
  background-position: 0 30%;
  background-repeat: no-repeat;
  padding: 0.5rem;
}
nav {
  display: flex;
  position: absolute;
  width: 40%;
  top: 4%;
  left: 51vw;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
}

main {
  width: 85vw;
  height: 200vh;
  margin: 0px 5%;
}

/* titulo */
.titulo {
  font-style: oblique;
  position: absolute;
  top: 0vh;
  left: 10vh;
}

/* subtitulo */
.subtitulo {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 85vw;
  height: 6vh;
}
/* subtitulo2 */
.subtitulo2 {
  text-align: center;
}

aside {
  display: flex;
  width: 20vw;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

/* logo e imagen dentro del aside*/
.logo {
  height: 25vh;
  width: 25vh;
}
.imagen {
  display: block;
  height: 20vh;
  width: 25vh;
  margin-top: 35px;
}

/* botones del nav*/
.boton {
  display: flex;
  width: 95px;
  margin: 5px 5px;
  padding: 5px 20px;
  color: white;
  background-color: blue;
  text-decoration: none;
  box-shadow: 5px 5px rgb(0 0 0 / 50%);
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.boton[href="#"] {
  background-color: green;
}
.boton:visited {
  text-decoration: none;
}

/* cuerpo */
.cuerpo {
  width: 62vw;
  display: flex;
  position: absolute;
  left: 265px;
  top: 290px;
  margin: 20px 12px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

article {
  margin-bottom: 20px;
}

article > p {
  text-indent: 3%;
}

p {
  padding-bottom: 20px;
}

.aclaracion {
  text-decoration: underline;
  font-style: oblique;
}

/* tablas */
article,
table {
  width: 62vw;
}
table {
  width: 100%;
}
.tablageneral {
  padding-bottom: 40px;
}

th,
td {
  text-align: center;
}
ol {
  padding-top: 8px;
}
ul {
  margin-left: 40px;
}
li {
  padding-top: 8px;
  list-style-position: inside;
}
.circulos {
  list-style: circle;
}

.reference {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
}

/* formulario */
form {
  width: 62vw;
}
fieldset {
  display: grid;
  display: flex;
  margin-bottom: 15px;
  padding: 10px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
}

/* mapas */
iframe {
  margin: 1rem;
  border-radius: 1rem;
  width: 25vw;
  height: 25vh;
  box-shadow: 5px 5px rgb(0 0 0 / 50%);
}
.mapas {
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
