/* normalizado */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Verdana;
}
.diseno {
  width: 100%;
  height: 35vh;
  background-image: url(/assets/img/design1_image1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.nav {
  display: inline;
  position: absolute;
  top: 3%;
  left: 75%;
}
main > aside {
  display: inline;
}
main > section {
  display: inline;
}

/* titulo */
header > h1 {
  font-style: oblique;
}

/* subtitulo */
header > h3 {
  text-align: center;
}

/* logo */
.logo {
  height: 25vh;
  width: 25vh;
}

/* botones */
button {
  background-color: rgb(0, 163, 218);
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
}
nav > button > a {
  color: white;
}
a[href="#"]{
  background-color: green;
  color:white;
}
button:hover {
  background-color: green;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

/* cuerpo */
.cuerpo {
  position: relative;
  left: 200px;
  top: -130px;
}
article {
  padding-top: 5%;
}
section > p {
  padding-top: 2%;
}
article > p {
  text-indent: 3%;
}
